@{
    ViewBag.Title = "Home Page";
}


<!-- banner -->
<div class="banner">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
            <h1>
                <a class="navbar-brand" href="@Url.Action("SignIn","Login")">
                    Sunshine
                    <span>Institute</span>
                </a>
            </h1>

            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
                        <a class="nav-link" href="@Url.Action("About","Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Gallery","Home")">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- //header -->
    <div class="container">
        <!-- banner-text -->
        <div class="banner-text">
            <div class="slider-info">
                <h3>All <span>Type </span> of Computer Courses</h3>
              
            </div>
        </div>
    </div>
</div>
<!-- //banner-text -->
<!--banner form-->
<section class="banner_form py-5">
    <div class="container py-lg-3">
        <div class="row ban_form">
            <div class="col-lg-8 bg-white fom-left">
                <div class="categories_sub cats1">
                    <h2 class="heading-agileinfo">Welcome To <span> Sunshine Institute</span></h2>
                    <p class="vam"> Provide opportunity to B-Tech/B.E, MCA, BCA, Diploma students to enhance their skills and getting practical knowledge through Software and Industrial Training. The company has strong placement cell that assists students to place in various corporate after successful completion of the training. Shineway Software Solution provide training solution nearly for every engineering branch.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//banner form-->
<!-- /services -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h3 class="heading-agileinfo text-center">What <span> We do</span></h3>
            <div class="row middle-grids mt-md-5 pt-4">
                <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-graduation-cap mb-2"></i>
                            <h5 class="card-title text-uppercase my-3">
                                Industrial Training
                            </h5>
                            <p class="card-text">
                                Industrial Training play very important role in the career of graduate students.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 about-in-w3ls middle-grid-info active text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-book mb-2"></i>
                            <h5 class="card-title text-uppercase my-3">Six Month Industrial Training </h5>
                            <p class="card-text">
                                Six Month Industrial Training is very crucial time period for B.E./B-Tech, MCA students because this is the time in which candidates can explore himself in latest technologies used in National and Multi-National Industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-globe mb-2"></i>
                            <h5 class="card-title text-uppercase my-3">Diploma in Computer Application</h5>
                            <p class="card-text">
                                1 year Long term Course also Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- choose -->
<!-- //choose -->
<!-- /advantage -->
<section class="banner-bottom py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec py-lg-5 py-3">
            <h3 class="heading-agileinfo text-center">Our <span> Advantages</span></h3>
            <div class="row middle-grids mt-lg-5 pt-5">
                <div class="col-lg-6 advantage-grid-info1">
                    <div class="advantage_left1 text-center">
                        <img src="~/images/p1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 advantage-grid-info pt-md-5">
                    <div class="advantage_left">
                        <h4 class="mb-2">Flexible Time & Bacthes</h4>

                        <p class="mt-2">All time are available different for working as well as for students so that they can enchane their skills in their free time</p>
                    </div>
                </div>
            </div>
            <div class="row middle-grids pt-lg-5">
                <div class="col-lg-6 advantage-grid-info pt-md-5 mt-md-5">
                    <div class="advantage_left">
                        <h4 class="mb-2">Practical Work</h4>

                        <p class="mt-2">We prefer less paper work because we beleive in more practical as it lasts long in the mind.</p>
                    </div>
                </div>
                <div class="col-lg-6 advantage-grid-info1">
                    <div class="advantage_left2 text-center">
                        <img src="~/images/g1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //advantage -->
<!--/newsletter-->
<footer class="newsletter_right pymd-5 py-4" id="footer">
    <div class="container">
        <div class="inner-sec py-md-5 py-3">
            <div class="row mb-md-4 mb-md-3">
                <div class="col-lg-3 col-md-6 social-info text-left">
                    <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Get in touch</h3>
                    <p>0926k 4th block building,king Avenue, </p>
                    <p class="my-2"> Auckland, New Zealand</p>
                    <p class="phone">phone: +6444 555 6789</p>

                    <p class="phone">
                        Mail:
                        <a href="mailto:info@example.com">admin@gmail.com</a>
                    </p>

                </div>


            </div>
        </div>
    </div>
</footer>
<div class="copyright py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copy-right mt-2">
                    © 2020 Subject. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> Sunshine Institute </a>
                </p>
            </div>
            <div class="col-md-4">
                <ul class="social-icons scial justify-content-end">
                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
